<article>
  <p><%=result.restaurant%></p>
  <p>Rating: <%=result.rating%></p>
  <p>Price: <%=result.budget%></p>
  <img src="<%=result.img_url%>" alt="image">
  <p>Address: <%=result.address%></p>
  <p>Phone: <%=result.phone%></p>
  <p><a href="<%=result.link_url%>">visit website</a></p>
  <button id="<%=result.restaurant%>">Make a Date!</button>
</article>