<article>
  <p>Name: <%=result.name%></p>
  <p>Rating: <%=result.rating%></p>
  <img src="<%=result.img_url%>" alt="image">
  <p>Price: <%=result.price%></p>
  <p><a href="<%=result.link%>">visit website</a>
  <button id="<%=result.name%>">Make a Date!</button>
  </p>


</article>