<head>
  <title>dateGenie</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/module.css">
</head>

<header>

  <div class="unhide">
    <div class="menu"></div>
    <div class="menu"></div>
    <div class="menu"></div>
  </div>


  <img src="/styles/images/logo.png" alt="dateGenie logo">

</header>

<% if (id) { %>
<nav class="mobile hide">
  <p><a href="/user/<%=id%>">Saved Dates</a></p>
  <p><a href="/<%=id%>/search">Search for Restaurants</a></p>
  <p><a href="/<%=id%>/aboutYourGenies">About Your Genies</a></p>
  <p><a href="/todo/<%=id%>">To-Do Lists</a></p>
</nav>

<nav class="desktop">
  <p><a href="/user/<%=id%>">Saved Dates</a></p>
  <p><a href="/<%=id%>/search">Search for Restaurants</a></p>
  <p><a href="/<%=id%>/aboutYourGenies">About Your Genies</a></p>
  <p><a href="/todo/<%=id%>">To-Do Lists</a></p>
</nav>

<% } %>
