<section class="saved">
  <% datesArray.forEach( date => { %>
    <article>
      <p><%=date.title%></p>
      <p><%=date.date_of%></p>
      <p><%=date.restaurant%></p>
      <img src="<%=date.img_url%>" alt="image">
      <p>Price: <%=date.budget%></p>
      <p><a href="<%=date.link%>">visit website</a></p>
      <form action="/<%=id%>/editDate" method="POST">
        <input type="hidden" name="id" value="<%=date.id%>">
          <input type="hidden" name="restaurant" value="<%=date.restaurant%>">
          <input type="hidden" name="rating" value="<%=date.rating%>">
          <input type="hidden" name="budget" value="<%=date.budget%>">
          <input type="hidden" name="img_url" value="<%=date.img_url%>">
          <input type="hidden" name="address" value="<%=date.address%>">
          <input type="hidden" name="phone" value="<%=date.phone%>">
          <input type="hidden" name="link_url" value="<%=date.link_url%>">
          <button>Edit Date</button>
        </form>
        <form action="/<%=id%>/deleteDate" method="POST">
          <input type="hidden" name="id" value="<%=date.id%>">
          <button>Delete This Date</button>
        </form>
    </article>
  <%})%>
</section>